<header id="navbar" class="p-3 sticky-top bg-dark text-white">
  <div id="mainHeader" class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
          align-items-center
        "
      >
      <li >

        <a [routerLink]="['']"  class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img  class="bi me-2" style="width: 75px; height: 32; border-radius: 20px;" src="/assets/images/shur-logos.jpeg" alt="">
        </a>
      </li>
        <!-- <li>
          <a [routerLink]="['']" class="nav-link px-2 text-white">Əsas</a>
        </li> -->
        <li>
          <a [routerLink]="['/insuranceTypes']" class="nav-link px-2 text-white"
            >Sığorta növləri</a
          >
        </li>
        <li>
          <a [routerLink]="['/faq']" class="nav-link px-2 text-white"
            >FAQ-lar</a
          >
        </li>
        <li>
          <a [routerLink]="['/aboutUs']" class="nav-link px-2 text-white"
            >Haqqımızda</a
          >
        </li>
      </ul>

      <ng-container
        *ngIf="this.client_id == null; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <div class="text-end">
          <a [routerLink]="['/login']" class="btn btn-outline-light me-2"
            >Daxil ol</a
          >
          <!-- <a [routerLink]="['/register']" class="btn btn-success"
            >Qeydiyyatdan keç</a
          > -->
        </div>
      </ng-template>
      <ng-template #elseTemplate>
        <div class="text-end">
          <a [routerLink]="['/profile']" class="btn btn-outline-light me-2"
            >Şəxsi kabinet</a
          >
        </div>
        <div class="text-end">
          <a [routerLink]="['/logout']" class="btn btn-outline-light me-2"
            >Çıxış</a
          >
        </div>
      </ng-template>
    </div>
  </div>

  <div id="mobileHeader">
    <div class="headerWrapper">
      <div class="logo">
        <a [routerLink]="['']"  class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img  class="bi me-2" style="width: 75px; height: 32; border-radius: 20px;" src="/assets/images/shur-logos.jpeg" alt="">

        </a>
        
      </div>
      <nav class="navbar navbar-dark">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            aria-expanded="false"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
      <ul
        class="
          nav
          flex-column
          text-center
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a [routerLink]="['']" class="nav-link px-2 text-white">Əsas</a>
        </li>
        <li>
          <a [routerLink]="['/insuranceTypes']" class="nav-link px-2 text-white"
            >Sığorta növləri</a
          >
        </li>
        <li>
          <a [routerLink]="['/faq']" class="nav-link px-2 text-white"
            >FAQ-lar</a
          >
        </li>
        <li>
          <a [routerLink]="['/aboutUs']" class="nav-link px-2 text-white"
            >Haqqımızda</a
          >
        </li>

        <ng-container
          *ngIf="
            this.client_id == null;
            then thenTemplateMobile;
            else elseTemplateMobile
          "
        ></ng-container>
        <ng-template #thenTemplateMobile>
          <div>
            <a [routerLink]="['/login']" class="btn btn-outline-light me-2"
              >Daxil ol</a
            >
            <!-- <a [routerLink]="['/register']" class="btn btn-success"
              >Qeydiyyatdan keç</a
            > -->
          </div>
        </ng-template>
        <ng-template #elseTemplateMobile>
          <div>
            <a [routerLink]="['/profile']" class="btn btn-outline-light me-2"
              >Şəxsi kabinet</a
            >
            <a [routerLink]="['/logout']" class="btn btn-outline-light me-2"
              >Çıxış</a
            >
          </div>
        </ng-template>
      </ul>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="py-3 my-4">
  <p class="text-center text-muted">© 2021 Şur Sığorta Agentliyi</p>
</footer>
