
<div id="overlay" [ngClass]="{'hidden': !this.formSubmitted}">
    <div class="msg msg-alert z-depth-3"  >Sığorta uğurla yaradıldı. Zəhmət olmasa mailinizi yoxlayın! </div>
</div>
<div class="container" id="form">

    <div  class="row">

        <div class="col-12 form-info">
            <h1>
                Yaşıl kart sığortası
            </h1>
            <small>Zəhmət olmasa, aşağıdakı formu doldurun.</small>
        </div>
       

        <div class="form-left-side col-3">
            
            <ul>
                <li  [ngClass]="{'form-name-selected': this.selectedFormNumber == 1}">
                    Avtomobil məlumatları
                </li>
                <li  [ngClass]="{'form-name-selected': this.selectedFormNumber == 2}">
                    Şəxsi məlumatlar
                </li>
                <li  [ngClass]="{'form-name-selected': this.selectedFormNumber == 3}">
                    Sığorta şirkəti
                </li>
            </ul>

        </div>

        <div class="form-right-side col-9">

            <div  class="car-form-part"
             [ngClass]="{'form-selected': this.selectedFormNumber == 1}" 
             [ngClass]="{'form-not-selected': this.selectedFormNumber != 1}" >

                <small style="color: lightgray;">Mərhələ 1/3</small>

                <form  class="mb-3 row">
                    <div class="mb-3">
                        <label for="car_registration_number">Qeydiyyat nişanı</label>
                        <input required [(ngModel)]="this.greenCardInsurance.car_registration_number" type="text" placeholder="90XX123" class="form-control" id="car_registration_number" name="car_registration_number">
                    </div>

                    <div class="mb-3">
                        <label for="car_plate_number">NV-nin qeydiyyat şəhadətnaməsi</label>
                        <input required [(ngModel)]="this.greenCardInsurance.car_plate_number" type="text" placeholder="AC123456" class="form-control" id="car_plate_number" name="car_plate_number">
                    </div> 
                    <div class="mb-3">
                        <label for="contact_person">Əlaqəli şəxs </label>
                        <input [(ngModel)]="this.greenCardInsurance.contact_person" type="string" placeholder="Rəsmi ad və soyad" class="form-control" id="contact_person" name="contact_person">
                    </div>  
                    <div class="mb-3">
                        <label for="direction">İstiqamət</label>
                        <select [(ngModel)]="this.greenCardInsurance.direction"  class="form-control" id="direction" name="direction">
                            <option value="Türkiyə və İran">Türkiyə və İran</option>
                            <option value="Moldova və Ukranya">Moldova və Ukranya</option>
                            <option value="Bütün ölkələr">Bütün ölkələr</option>
                        </select>
                    </div>   
                </form>

                <button (click)="proceedToNextForm()" (click)="submitGreenCardInsuranceForm()"
                    [disabled]= "!this.greenCardInsurance.car_registration_number || !this.greenCardInsurance.car_plate_number || !this.greenCardInsurance.direction || !this.greenCardInsurance.contact_person"
                class="btn btn-default">Davam et</button>

            </div>

            <div class="car-form-part" 
             [ngClass]="{'form-selected': this.selectedFormNumber == 2}"
             [ngClass]="{'form-not-selected': this.selectedFormNumber != 2}">
                <small style="color: lightgray;">Mərhələ 2/3</small>

                <form class="mb-3 row">
                    <div class="mb-3">
                        <label for="carRegistrationNumber">Sahibi</label>
                        <div class="form-check form-check-inline" (click)="selectOwnerIsPerson()">
                            <input [(ngModel)]="this.client.client_type" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0">
                            <label for="inlineRadio1">Fiziki şəxs</label>
                        </div>
                        <div class="form-check form-check-inline" (click)="selectOwnerIsCompany()">
                            <input [(ngModel)]="this.client.client_type"  type="radio" name="inlineRadioOptions" id="inlineRadio2"  value="2">
                            <label for="inlineRadio2">Hüquqi şəxs</label>
                        </div> 

                        <div [hidden]="!this.ownerIsPerson">
                            <div class="mb-3">
                                
                                <label for="ownerFullName">Ş/V seriya və nömrəsi</label>
                                <input [(ngModel)]="this.client.id_number" type="text" id="id_number" name="id_number" class="form-control">
                            
                            </div>
                            <div class="mb-3">
                                <label for="ownerFullName">Ş/V FIN kodu</label>
                                <input [(ngModel)]="this.client.fin_code" type="text" id="fin_code" name="fin_code" class="form-control">
                            
                            </div>
                        </div>
                        <div [hidden]="!this.ownerIsCompany">
                            <label for="voen">Sahibinin VÖEN-i</label>
                            <input [(ngModel)]="this.client.ssn_number" type="text" id="voen" name="voen" class="form-control">
                        </div>
                    </div>
                    <label class="form-label" for="phone">Mobil nömrə</label>
                    <div class="mb-3 input-group">
                        

                        <span class="input-group-text">+994</span>
                        <input [(ngModel)]="this.client.phone" type="number" placeholder="512345678" class="form-control" id="phone" name="phone">
                    </div>  
                    <div class="mb-3">
                        <label for="phone">E-mail</label>
                        <input [(ngModel)]="this.client.email" type="email" placeholder="example@gmail.com" class="form-control" id="email" name="email">
                    </div>  
                </form>

                <button
                [disabled]="!this.client.fin_code && !this.client.ssn_number"
                (click)="proceedToNextForm()" (click)="submitClientForm()" class="btn btn-default">Davam et</button>
            </div>

            <div class="car-form-part"  
            [ngClass]="{'form-selected': this.selectedFormNumber == 3}"
            [ngClass]="{'form-not-selected': this.selectedFormNumber != 3}">
                <small style="color: lightgray;">Mərhələ 3/3</small>

                <form class="mb-3 row">
                    <div class="mb-3">
                        <label for="insuranceCompany">Sığorta şirkəti seçin</label>
                        <select [(ngModel)]="this.chosenInsuranceCompany" type=""  class="form-control" id="insuranceCompany" name="insuranceCompany">
                            <option value="Azərsığorta">Azərsığorta</option>
                        </select>
                    </div>
 
                </form>

                <button [disabled]="!this.chosenInsuranceCompany" (click)="submitForm()" class="btn btn-default">Bitir</button>
            </div>

        </div>

    </div>


</div>

