<div class="container">

<div  id="features" class="g-10 py-5">
    <div class="feature ">
      <div class="feature-icon">
        <fa-icon [icon]="faCar"></fa-icon>
      </div>
      <div class="feature-info">
        <h2>İcbari Avtomobil Sığortası</h2>
        <p>Avtonəqliyyat vasitəsi sahiblərinin mülki məsuliyyətinin icbari sığortası “İcbari sığortalar haqqında” Azərbaycan Respublikası Qanununun Xüsusi bölməsinin 4-cü fəslində nəzərdə tutulmuşdur.</p>
        <a [routerLink]="['/insurance/car']" routerLinkActive="router-link-active"  class="icon-link">
          Sığortala
        </a>
      </div>
      
    </div>
    <div class="feature ">
      <div class="feature-icon">
        <fa-icon [icon]="faHome"></fa-icon>
      </div>
      <div class="feature-info">

        <h2>Daşınmaz əmlakın icbari sığortası</h2>
        <p>
          Daşınmaz əmlakın icbari sığortası “İcbari sığortalar haqqında” Azərbaycan Respublikası Qanununun Xüsusi bölməsinin 2-ci fəslində nəzərdə tutulmuşdur. 
          
          </p>
        <a [routerLink]="['/insurance/house']"   class="icon-link">Sığortala</a>
      </div>
    </div>
    <div class="feature ">
      <div class="feature-icon">
        <fa-icon [icon]="faHouseDamage"></fa-icon>
      </div>
      <div class="feature-info">
        <h2>Mülki məsuliyyətin İcbari Sığortası</h2>
        <p>
          Daşınmaz əmlakın istismarı ilə bağlı mülki məsuliyyətin icbari sığortası 
          “İcbari sığortalar haqqında” Azərbaycan Respublikası Qanununun Xüsusi bölməsinin 3-cü fəslində 
          nəzərdə tutulmuşdur. 
          </p><a [routerLink]="['/insurance/reli']"  class="">
          Sığortala
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      
    </div>
    <!-- <div class="feature ">
      <div class="feature-icon">
        <fa-icon [icon]="faTv"></fa-icon>
      </div>
      <div class="feature-info">

        <h2>DƏS</h2>
        <p>Daşınan əmlakın sığorta obyektinə müxtəlif avadanlıqlar, məişət texnikası, mebel, hazır məhsul və yarımfabrikatlar, anbarlarda saxlanılan mallar və s. predmetlər daxildir</p>
        <a [routerLink]="['/insurance/mp']" class="icon-link">
          Sığortala
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div> -->
    <div class="feature ">
      <div class="feature-icon">
        <fa-icon style="background-color: #388E3C" [icon]="faCard"></fa-icon>
      </div>
      <div class="feature-info">
        
      <h2 >Yaşıl kart</h2>
      <p>
        “Yaşıl Kart” sistemi, avtomobil sahiblərinin mülki məsuliyyətinin sığortası şəhadətnaməsinin bu sistemə üzv ölkələr arasında qarşılıqlı tanınması haqqında sazişdir.
      </p><a [routerLink]="['/insurance/greenCardInsurance']" class="icon-link">
        Sığortala
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
      </a>
      </div>
    </div>
    <!-- <div class="feature ">
      <div class="feature-icon">
        <fa-icon [icon]="faWheelChair"></fa-icon>
      </div>
      <div class="feature-info">
        
      <h2>Fərdi Qəza</h2>
      <p>
        “Fərdi qəza” dedikdə şəxs üzərində xarici fiziki təsirlərlə bağlı olan, onun hə yat və sağlamlığına ziyan vuran qəfil, oncədən görünməyən və təsadüfi (qəsdən edilməyən) hadisə başa düşülür
      </p>
      <a [routerLink]="['/insurance/ia']" class="icon-link">
        Sığortala
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
      </a>
      </div>
    </div>
    <div class="feature ">
      <div class="feature-icon">
        <fa-icon [icon]="faFirstAid"></fa-icon>
      </div>
      <div class="feature-info">
        
      <h2>Fərdi Tibbi Sığorta</h2>
      <p>Fərdi tibbi sığorta müqaviləsi-qanunvericilikdə müəyyən olunmuş qaydada sığorta edənlə tibbi sığorta təşkilatları arasında bağlanan və sığorta olunana tibbi sığorta proqramına uyğun olaraq göstərilən tibbi yardımın maliyyələşdirilməsini və təşkilini müəyyən edən, sığorta olunanın digər mənafelərini müdafiə edən yazılı sazişdir</p>
      <a [routerLink]="['/insurance/healthInsurance']" class="icon-link">
        Sığortala
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
      </a>
      </div>
    </div> -->
    
  </div>
</div>