.insurance-card {
    cursor: pointer;
    h2 {
        background-color:#03A9F4 ;
        padding: 5px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}