<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Sığorta növü seçin</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div (click)="goToInsuranceForm(0)" class="insurance-card card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://stimg.cardekho.com/images/carexteriorimages/630x420/Lamborghini/Urus/4418/Lamborghini-Urus-V8/1621927166506/front-left-side-47.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Maşın sığortası</h2>
            <!-- <ul class="d-flex list-unstyled mt-auto">
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="insurance-card card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://erch2014.com/images/finansi/strahovaya-kompaniya-vtb-strahovanie-kasko-osobennosti-i-pravila_2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Kasko sığorta</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div (click)="goToInsuranceForm(2)" class="insurance-card card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://thumbnails-visually.netdna-ssl.com/home-insurance-london_5cac3f4863dd6_w450_h300.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">İcbari Əmlak</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container px-4 py-5">
	<h1>Müştərilərin görüşləri</h1>
	
	<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

		<div class="col">
			<div class="card" style="width: 25rem;">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
				</div>
			</div>
			
		</div>
		

		<div class="col">
			<div class="card" style="width: 25rem;">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card" style="width: 25rem;">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="card-link">Card link</a>
				</div>
			</div>
		</div>
		
		
	</div>
	

</div>