<div class="container">
    

  <div class="row">
    <div class="header">
      <h1>Tez-tez soruşulan suallar</h1> 

      <i>Frequently asked questions</i>
    </div>
  
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">Sığorta ödənişi hansı formada həyata keçirilir? </label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            Zərərin miqdarı barədə tərəflər arasında razılıq əldə edildikdən sonra əmlak sığortası üzrə sığorta ödənişi sığortaçının seçimi əsasında aşağıdakı formalardan hər hansı birində həyata keçirilir (ödənilir):
            <br>
            -zərər məbləğinin pul şəklində faydalanan şəxsə ödənilməsi;
            <br>
            -sığorta hadisəsi nəticəsində dəyən zərərin aradan qaldırılması üçün sığortalıya (sığorta olunana və ya faydalanan şəxsə) göstərilən xidmətlərin və ya satılan əşyaların dəyərinin xidmət göstərənə və ya satıcıya ödənilməsi;
            <br>
            -sığorta predmeti olan, yaxud zərərçəkmiş üçüncü şəxsə məxsus əmlakın təmiri və ya bərpası;
            <br>
            -sığorta müqaviləsində nəzərdə tutularsa, həmin müqavilədə müəyyən edilən şərtlər əsasında sığorta predmeti olan əmlakın dəyişdirilməsi.   
          </p>
        </div>
      </div>
    </div>
    
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">Avtonəqliyyat vasitəsini İcbari avtomobil sığortası olmadan idarə edilməsinə görə hansı cəza nəzərdə tutulub?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            Azərbaycan Respublikasının İnzibati Xətalar Məcəlləsinə əsasən, müvafiq riskləri icbari qaydada sığorta etdirmək vəzifəsi müəyyən edilmiş fiziki və ya hüquqi şəxslər tərəfindən sığortaçı ilə icbari sığorta müqaviləsinin bağlanmamasına görə:
            <br>
            - fiziki şəxslər on manat miqdarında, vəzifəli şəxslər altmış manatdan səksən manatadək miqdarda;
            <br>
            - hüquqi şəxslər yüz əlli manatdan iki yüz manatadək miqdarda cərimə edilir.    
          </p>
        </div>
      </div>
    </div>
    
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">Avtomobilim sığortalıdır və mən onu satmaq istəyirəm bu halda sığorta müqaviləsinə xitam veriləcəkmi?</label>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p>
            “İcbari sığortalar haqqında” qanunun 51.3-cü maddəsinə əsasən avtonəqliyyat vasitəsi sahiblərinin mülki məsuliyyətin icbari sığortası müqaviləsinin aid olduğu əmlakın özgəninkiləşdirildiyi halda sığortalının həmin müqaviləyə xitam vermək hüququ var.  
          </p>
        </div>
      </div>
    </div>
    
  </div>

</div>
